.analyticsAverageHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.analyticsAverageHeader :nth-child(2){
    margin-left: auto;
}

.averages{
    display: flex;
    flex-direction: column;
    gap:1.5rem;
    margin-top: 1rem;
}

.averageExpense, .averageIncome{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.averageExpense p, .averageIncome p{
    margin-left: auto;
}